<%- include partials/header.ejs %>

  <div class="wrapper">
    <%- include partials/sidebar.ejs %>

    <div class="main-panel">
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Item Catalog</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>Name</th>
                      <th>Lender</th>
                      <th>Price</th>
                      <th>Status</th>
                      <th>Action</th>
                    </thead>
                    <tbody>
                      <%  items.forEach((item, index) => { %>
                      <tr>
                        <td><%= item.name %></td>
                        <td><%= item.offerer.username %></td>
                        <td><%= item.price %></td>
                        <td><% if (item.numOffers && item.numOffers > 0) { %><%= item.numOffers %> offer(s)<% } else { %> No offers </td> <% } %>
                        <td>
                          <% if (currentUser && currentUser.id != item.offerer.id) { %>
                            <button type="button" class="btn" data-toggle="modal" data-target="#modalb<%= index %>">Rent</button>
                            <div class="modal" id="modalb<%= index %>">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4>Rental Request</h4>
                                  <button type="button" class="btn-danger" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <form action="/offer/<%= item.id %>/create" method="POST">
                                    <span class="label">Item: <%= item.name %></span><br/><br/>
                                    <span class="label">Duration (h):</span><input type="number" class="form-control" name="duration"><br/><br/>
                                    <input type="hidden" name="ready" value="borrower">
                                    <button class="btn">Submit</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% } %>
                        </td>
                      </tr>
                      <%  });  %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/core/jquery.min.js"></script>
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
</body>
</html>