<%- include partials/header.ejs %>

  <div class="wrapper ">
    <%- include partials/sidebar.ejs %>

    <div class="main-panel">
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Your current offers</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>Item</th>
                      <th>Price</th>
                      <th>Deposit</th>
                      <th>Offer by</th>
                      <th>Duration (h)</th>
                      <th>Status</th>
                    </thead>
                    <tbody>
                      <%  offers.forEach(offer => {  %>
                      <tr>
                        <td><%= offer.item.name %></td>
                        <td>$<%= offer.item.price %></td>
                        <td>$<%= offer.item.price*10 %></td>
                        <td><%= offer.borrower.username %></td>
                        <td><%= offer.duration %></td>
                        <td>
                            <% if (!offer.confirmedByOfferer) { %>
                            <form action="/offers/<%= offer._id %>/approve" method="POST">
                                <button class="btn btn-success">Approve</button>
                            </form>
                            <% } else { %> Awaiting Renter Confirmation <% } %>
                        </td>
                      </tr>
                      <%  });  %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Your sent offers</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>Item</th>
                      <th>Price</th>
                      <th>Deposit</th>
                      <th>Offer to</th>
                      <th>Duration (h)</th>
                      <th>Status</th>
                    </thead>
                    <tbody>
                      <%  sentOffers.forEach(offer => {  %>
                      <tr>
                        <td><%= offer.item.name %></td>
                        <td>$<%= offer.item.price %></td>
                        <td>$<%= offer.item.price*10 %></td>
                        <td><%= offer.offerer.username %></td>
                        <td><%= offer.duration %></td>
                        <td>
                            <% if (!offer.confirmedByOfferer) { %>
                            Awaiting Offerer Confirmation
                            <% } else { %>
                            <form action="/offers/<%= offer._id %>/start" method="POST">
                                <button class="btn btn-success">Begin Rental</button>
                            </form>
                            <% } %>
                        </td>
                      </tr>
                      <%  });  %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/core/jquery.min.js"></script>
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
</body>
</html>