<%- include partials/header.ejs %>

  <div class="wrapper ">
    <%- include partials/sidebar.ejs %>

    <div class="main-panel">
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Your current transactions</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>Name</th>
                      <th>Lender</th>
                      <th>Borrower</th>
                      <th>Price</th>
                      <th>Deposit</th>
                      <th>Start Date</th>
                      <th>Expiry Date</th>
                      <th>Status</th>
                      <th>Action</th>
                    </thead>
                    <tbody>
                      <%  transactions.forEach(transaction => {  %>
                      <tr>
                        <td><%= transaction.item.name %></td>
                        <td><%= transaction.offerer.user.username %></td>
                        <td><%= transaction.borrower.user.username %></td>
                        <td>$<%= transaction.item.price %></td>
                        <td>$<%= transaction.item.price*10 %></td>
                        <td><%= transaction.createdDate.toLocaleString() %></td>
                        <td><%= transaction.expiryDate.toLocaleString() %></td>
                        <% if (transaction.complete) { %>
                          <td>Complete</td>
                          <td></td>
                        <% } else if (Date.now() > transaction.expiryDate) { %> 
                          <td>Expired</td>
                          <td>
                            <% if (currentUser && currentUser.id == transaction.offerer.user.id) { %>
                              <form>
                                <button type="button" class="btn">Collect Collateral</button>
                              </form>
                            <% } else { %>
                              <button type="button" class="btn" disabled>None</button>
                            <% } %>
                          </td>
                        <% } else { %> 
                          <td>In Progress</td>
                          <td>
                            <% if (currentUser && currentUser.id == transaction.offerer.user.id) { %>
                              <% if (transaction.offerer.ready) { %>
                                  <button class="btn" disabled>Awaiting Borrower Confirmation</button>
                                <% } else { %>
                                  <form action="/transactions/<%= transaction.id %>/ready" method="POST">
                                    <input type="hidden" value="offerer" name="ready">
                                    <button class="btn btn-success">Item Returned</button>
                                  </form>
                                <% } %>
                            <% } else if (currentUser && currentUser.id == transaction.borrower.user.id) { %>
                              <% if (transaction.borrower.ready) { %>
                                <button class="btn btn-success" disabled>Awaiting Offerer Confirmation</button>
                              <% } else { %>
                                <form action="/transactions/<%= transaction.id %>/ready" method="POST">
                                  <input type="hidden" value="borrower" name="ready">
                                  <button class="btn btn-success">Return Item</button>
                                </form>
                              <% } %>
                            <% } %>
                          </td>
                        <% } %>
                      </tr>
                      <%  });  %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/core/jquery.min.js"></script>
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
</body>
</html>